<!-- Contact page -->

<section class="contact">
  <div class="wrapper">
    <h2>Contact me</h2>
      <div class="form-container">
        <div class="form-input">
          <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
            <div class="form-group">
              <%= form.text_field :name, class: "form-control", placeholder: "Your name" %>
            </div>
            <div class="form-group">
              <%= form.email_field :email, class: "form-control", placeholder: "Your email" %>
            </div>
            <div class="form-group">
              <%= form.text_area :message, class: "form-control", placeholder: "Your message" %>
            </div>
            <%= form.submit "Get in touch", class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="form-text">
          <p>If you have any questions about me or my projects, don't hesitate to reach out!</p><br>
          <p>I'm available to grab a coffee and chat! Drop a comment, question, feedback, or your favourite Spotify playlist. Thanks for stopping by!</p><br>
          <p>Straight shot to my inbox: camilla.ligovic@gmail.com</p>
        </div>
      </div>
      <div class="socials">
        <ul>
          <li><i class="fa-brands fa-linkedin"></i></li>
          <li><i class="fa-brands fa-github"></i></li>
        </ul>
      </div>
  </div>
</section>
